<mat-toolbar color="primary" class="navbar">
  <span>Medical Plant</span>
  <span class="spacer"></span>
  <mat-icon (click)="toggleSidenav()">menu</mat-icon>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>list</mat-icon> Liste des plantes
      </a>
      <a mat-list-item>
        <mat-icon>star</mat-icon> Voir une recommandation
      </a>
      <a mat-list-item [routerLink]="'/article'">
        <mat-icon>add_circle</mat-icon> Ajouter un article
      </a>
      <a mat-list-item>
        <mat-icon>smart_toy</mat-icon> Assistant AI
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="articles.length === 0" class="no-articles">
      <p>Aucun article disponible pour le moment.</p>
    </div>

    <div *ngIf="articles.length > 0">
     
      <div class="article-list">
        <div *ngFor="let article of articles" class="article-item">
          <!-- Article Header with Username -->
          <div>
            <strong>Username: </strong>
            <strong>{{ article.userFullName || 'Auteur inconnu' }}</strong>
          </div>

          <!-- Title for the article (this section appears above the actual title) -->
          <div>
            <strong>Title: </strong>
            <strong>{{ article.title }}</strong>
          </div>

          <div>
            <strong>Date de Creation: </strong>
            <strong>{{ article.createdAt }}</strong>
          </div>

          <!-- Button to View Article -->
          <button class="view-button" (click)="openDialog(article)">View</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
